# Mandatory packages
django==1.4.2
south
django-crispy-forms
django-tables2
mysql-python
docutils
pygments

# Optional pachages for development server
django-debug-toolbar
django-extensions
django-grappelli<2.5
werkzeug
