body {
    position: relative;
    padding-top: 80px;
}

.footer {
    margin-top: 30px;
    padding: 5px 0;
    border-top: 1px solid #e5e5e5;
}
.footer p {
    margin-bottom: 0;
    color: #555;
}

#datepicker {
    font-size: 80%;
}

#kronoslogo {
    padding: 10px 0;
}
.navbar-inner .brand {
    color: #8eadd6;
}
table.data-details {
    margin-top: 10px;
    width: 100%
}
table td.small-column {
    width: 6.5em;
}
table td.med-column {
    width: 15em;
}
div.section {
    margin-top: 20px;
}
table.blocktable td a {
    display: block;
}
