{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block sidebar %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans "Blocking Of Timeslots" %}</h1>
</div>

<form action="{% url 'timeslots_blocking' %}" method="post" accept-charset="utf-8">{% csrf_token %}
    {% crispy form %}
</form>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
    // Reload the form with slot values after block selection
    $('select#id_block').change(function() {
        $(this).closest('form').submit();
    });
    // Expand the click event to the surrounding div
    $('div#div_id_start').click(function() {
         $('#id_start').focus()
    });
    $('div#div_id_end').click(function() {
         $('#id_end').focus()
    });
    $(function(){
        $('#id_start').datepicker({ 
            changeMonth: true,
            changeYear: true,
            dateFormat: 'yy-mm-dd',
            minDate: new Date(),
            numberOfMonths: 3,
            onSelect: function( selectedDate ) {
                $('#id_end').datepicker( "option", "minDate", selectedDate );
            }
        });
        $('#id_end').datepicker({ 
            changeMonth: true,
            changeYear: true,
            dateFormat: 'yy-mm-dd',
            minDate: new Date(),
            numberOfMonths: 3,
            onSelect: function( selectedDate ) {
                $('#id_start').datepicker( "option", "maxDate", selectedDate );
            }
        });
    });
</script>
{% endblock %}
