{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block sidebar %}{% endblock %}

{% block content %}

<div class="page-header">
    <h1>{% trans "Blocking Of Timeslots" %}</h1>
</div>

<form action="{% url timeslots_blocking %}" method="post" accept-charset="utf-8">{% csrf_token %}
    {{ form|crispy }}
    <div class="buttons">
        <button type="submit" class="btn btn-primary" name="blockSLots">
            {% trans "Block Selected Slots" %}
        </button>
    </div>
</form>

{% endblock %}
