{% load timeslots_filters i18n %}

<ul class="nav nav-pills">
    <li{% if active == 1 %} class="active"{% endif %}><a href="/timeslots/station/{{ station.id }}/date/{{ date }}/slots">{% trans "Show station" %}</a></li>
    <li{% if active == 2 %} class="active"{% endif %}><a href="/timeslots/station/{{ station.id }}/date/{{ date }}/joblist">{% trans "Show list of jobs" %}</a></li>
    <li{% if active == 3 %} class="active"{% endif %}><a href="/timeslots/station/{{ station.id }}/date/{{ date }}/jobtable">{% trans "Show table of jobs" %}</a></li>
</ul>
