{% extends "base.html" %}
{% block content %}

<div class="well">
    <h1>{{ station.name }}</h1>
    <p>{{ station.shortdescription }}</p>
    <p>{{ station.longdescription }}</p>
</div>

<table class="table table-bordered">
    {% for jobs in slots %}
        {% for job in jobs %}
            <tr>
                <td rowspan="{{ jobs.count }}">{{ job.slot.times }}</td>
                <td>{{ job.number }}<td>
                <td>{{ job.description }}<td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>


{% endblock %}
