{% extends "base.html" %}
{% load filters %}

{% block content %}

<div class="page-header"><h1>{{ date|nice_date }} <small>{{ station.longname }}</small></h1></div>

<div class="section">
    <table class="table table-bordered table-striped">
        {% for slot in slots %}
        <tr>
            <th style="width: 6em">{{ slot.times }}</th>
            <td>{{ slot.company }}</td>
            <td>
                {% for job in slot.job_set.all %}
                <p>
                    <span class="label">{{ job.number }}</span>
                    {{ job.description }}
                </p>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
