{% extends "base.html" %} 
{% load timeslots_filters i18n %}

{% block content %}

<div class="page-header">
    <h1>{{ date|make_date }}<br /><small>{{ station.longname }}</small></h1>
</div>

{% include "timeslots/details_subnav.html" with active=2 %}

<div class="section">
    {% for dock, slots in slotlist.iteritems %}
    <h2>{{ dock }}</h2>
    {% if slots %}
    <table class="table table-bordered table-striped">
        {% for slot in slots %}
        <tr>
            <th style="small-column">
                {{ slot.times }}
                {% if slot.is_blocked %}&nbsp;<span class="badge badge-important">{% trans "Blocked" %}</span>{% endif %}
                {% if slot.is_klv %}&nbsp;<span class="badge badge-warning">KLV/NV</span>{% endif %}
            </th>
            <td style="med-column">{{ slot.company }}</td>
            <td class="jobs">
                {% for job in slot.job_set.all %}
                <div><span class="jobnumber">{{ job.number }}</span>&nbsp;{{ job.payload }} t&nbsp;{{ job.description }}</div>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div class="alert alert-info">
        <strong>{% trans "No open jobs" %}</strong>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
