{% extends "base.html" %} 
{% load timeslots_filters i18n %}
{% load render_table from django_tables2 %}

{% block sidebar %}
{% include "timeslots/details_subnav.html" with active=3 %}
{{ block.super }}
{% endblock %}

{% block content %}
<h1>{{ date|nice_date }} <small>{{ station.longname }}</small></h1>

<div class="section">
    {% if jobtable %}
    {% render_table jobtable %}
    {% else %}
    <div class="alert alert-info">
        <strong>{% trans "No open jobs" %}</strong>
    </div>
    {% endif %}
</div>

{% endblock %}
