{% extends "base.html" %}
{% load filters %}

{% block extra_head %}
    {% if not debug %}
        <script type="text/javascript">
            function preventUnload( state ) {
                    unloadMessage = "Wenn Sie die Seite verlassen, wird dieser Slot für Sie reserviert!";
                    window.onbeforeunload = state ? function() { return unloadMessage; } : null;
            }
            preventUnload( true );	
        </script>
    {% endif %}
{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
<div class="page-header"><h1>Reservierung für {{ date|nice_date }}</h1></div> 

<div class="well">
    <div class="section">
        <table class="table table-bordered data-details">
            <tr>
                <td class="small-column"><strong>Uhrzeit</strong></th>
                <td>{{ times }}</td>
                <td class="small-column"><strong>Firma</strong></th>
                <td>{% firstof slot.user.userprofile.company user.userprofile.company %}</td>
            </tr>
            <tr>
                <td><strong>Station</strong></th>
                <td>{{ station }}</td>
                <td><strong>Anwender</strong></th>
                <td>{% firstof slot.user.get_full_name slot.user.username user.get_full_name user.username %}</td>
            </tr>
            <tr>
                <td><strong>Rampe</strong></th>
                <td>{{ curr_block.dock.name }}</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="section">
        <h2>Zugehörige Aufträge</h2>
        <form action="." method="post" class="form-horizontal">{% csrf_token %}
            {{ form.management_form }}
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Auftrags-Nummer</th>
                        <th>Beschreibung</th>
                    </tr>
                </thead>
                <tbody>
                    {% for f in form %}
                        <tr>
                            <td>{{ f.number }}</td>
                            <td>{{ f.description }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2">
                            <button class="btn btn-mini btn-primary" onclick="">
                                <i class="icon-plus icon-white"></i> Weiteren Auftrag hinzufügen
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="form-actions">
                <button type="submit" class="btn btn-success" name="makeReservation" onclick="preventUnload(false)">
                    {% if created %}
                    Slot Reservieren
                    {% else %}
                    Reservierung aktualisieren
                    {% endif %}
                </button>
                <button type="submit" class="btn btn-warning" name="cancelReservation" onclick="preventUnload(false)">
                    {% if created %}
                    Reservierung abbrechen
                    {% else %}
                    Reservierung löschen
                    {% endif %}
                </button>
                <button type="reset" class="btn">Formular zurücksetzen</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
