{% extends "base.html" %}
{% load timeslots_filters i18n crispy_forms_tags %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('.charge_detail').formset({
                prefix: '{{ form.prefix }}',
                addText: '<button class="btn btn-mini" name="addCharge"><i class="icon-plus-sign"></i> {% trans "add another charge" %}</button>',
                deleteText: '<i class="icon-remove-circle" style="display: block;" title="{% trans "Delete Job" %}"></i>',
            });
        })
        function preventUnload( state ) {
            unloadMessage = '{% trans "If you leave this page, your changes will be lost and the slot will be reserved for you.\r\rIf there are no jobs associated with this slot, your reservation will be deleted after five minutes." %}';
            window.onbeforeunload = state ? function() { return unloadMessage; } : null;
        }
        preventUnload( true );	
        {% if created %}
        setTimeout(function() { $('#timeout-warning').slideDown('slow') }, 150000);
        setTimeout(function() { $('#timeout-warning').slideUp('slow'); $('#timeout-alert').delay(800).slideDown('slow') }, 300000);
        {% endif %}
    </script>
{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
<div class="page-header"> 
    <h1> 
        {% trans "Reservation for" %} {{ date|make_date }} 
        {% if slot.is_blocked %}<p><span class="badge badge-important">{% trans "Blocked" %}</span></p>{% endif %}
    </h1> 
</div> 
<div id="timeout-warning" class="alert alert-warning">
    <strong>{% trans "Warning: " %}</strong><br /> 
    {% trans "Your reservation for this slot will end soon! Please fill in the form and send it." %}
</div>
<div id="timeout-alert" class="alert alert-error">
    <strong>{% trans "Error: " %}</strong><br /> 
    {% trans "Your reservation for this slot has enden! It is not sure, whether any changes can be saved." %}
</div>

<div class="well">
    <div class="section">
        <table class="table table-bordered data-details">
            <tr>
                <td class="small-column"><strong>{% trans "Time" %}</strong></th>
                <td>
                    {{ times }}
                </td>
                <td class="small-column"><strong>{% trans "Company" %}</strong></th>
                <td>{% firstof slot.company.company user.userprofile.company %}</td>
            </tr>
            <tr>
                <td><strong>{% trans "Station" %}</strong></th>
                <td>{{ station }}</td>
                <td><strong>{% trans "User" %}</strong></th>
                <td>{% firstof slot.company.user.get_full_name slot.company.user.username user.get_full_name user.username %}</td>
            </tr>
            <tr>
                <td><strong>{% trans "Dock" %}</strong></th>
                <td>{{ curr_block.dock.name }}</td>
                <td><strong>{% trans "Created" %}</strong></td>
                <td>{{ slot.created }}</td>
            </tr>
        </table>
    </div>

    <div class="section">
        <h2>{% trans "Corresponding jobs" %} <small>({% trans "at least one job is required" %})</small></h2>
        {% if form.non_form_errors %}
        <div class="alert alert-error">
            <strong>{% trans "Error: " %}</strong>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <br />{{ form.non_form_errors }}
        </div>
        {% endif %}
        <form action="." method="post" class="form-horizontal">{% csrf_token %}
            <table class="table table-bordered table-striped">
                <head><tr><th>{% trans "Jobnumber" %}</th><th>{% trans "Description" %}</th>{% if station.multiple_charges %}<th></th>{% endif %}</tr></thead>
                <tbody>
                {% for f in form %}
                    <tr {% if station.multiple_charges %}class="charge_detail"{% else %}class="single_detail"{% endif %}>
                        <td>{{ f.id }}{{ f.number|as_crispy_field }}</td>
                        <td>{{ f.description|as_crispy_field }}</td>
                        {% if station.multiple_charges  %}<td>{% if f.instance.pk %}{{ f.DELETE }}{% endif %}</td>{% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ form.management_form }}

            <div class="buttons">
                {% if slot.is_blocked %}
                <button type="submit" class="btn btn-primary" name="deleteSlot" onclick="preventUnload(false)">
                    {% trans "Release blocked slot" %}
                </button>
                <button type="submit" class="btn" name="releaseSlot" onclick="preventUnload(false)">
                    {% trans "Release slot and keep data" %}
                </button>
                <button type="submit" class="btn" name="keepSlotBlocked" onclick="preventUnload(false)">
                    {% trans "Keep slot blocked" %}
                </button>
                {% else %}
                <button type="submit" class="btn btn-success" name="makeReservation" onclick="preventUnload(false)">
                    {% if created %}{% trans "Make reservation" %}{% else %}{% trans "Update reservation" %}{% endif %}
                </button>
                <button type="submit" class="btn btn-warning" name="cancelReservation" onclick="preventUnload(false)">
                    {% if created %}{% trans "Cancel reservation" %}{% else %}{% trans "Delete reservation" %}{% endif %}
                </button>
                <button type="reset" class="btn">{% trans "Reset form" %}</button>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}
