{% extends "base.html" %}
{% load filters %}

{% block content %}
<div class="page-header"><h1>{{ date|nice_date }} <small>{{ station.longname }}</small></h1></div>

<div class="section clearfix">
    {% for dock, blocks in docks %} 
    <div class="{{ span }}">
        <h3 style="text-align: center">{{ dock }}</h3>
        {% for blockid, timeslots in blocks %}
        <table class="table table-bordered table-condesed blocktable">
            <tbody>
                {% for start, timeslot in timeslots %}
                <tr>
                    <th style="width: 3em">{{ start }}</th>
                    {% for slot in timeslot %}
                    <td
                        {% if slot == "Frei" %}
                        class="slot-free"
                        {% elif slot == "blocked" %}
                        class="slot-blocked"
                        {% else %}
                        class="slot-reserved"
                        {% endif %}
                        >
                        <a href="/timeslots/date/{{ date }}/slot/{{ blockid }}.{{ forloop.parentloop.counter }}.{{ forloop.counter }}/">{{ slot }}</a>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
    {% endfor %}
</div>

<div class="section">
    <p><a class="btn btn-info" href="/timeslots/jobs/{{ station.id }}/date/{{ date }}">Liste der Aufträge anzeigen</a></p>
</div>
{% endblock %}
