<div class="section">
    <h3>Verfügbare Ladestellen</h3>
    <ul class="unstyled">
        {% for curr_station in user.userprofile.stations.all %}
            <li>
                <a href="{{ curr_station.get_absolute_url }}" id="station{{ curr_station.id }}" rel="tooltip" 
                   data-placement="right" data-original-title="{{ curr_station.longdescription }}">{{ curr_station.longname }}</a>
            </li>
            {% if curr_station.longdescription %}
                <script>$(function () { $("#station{{ curr_station.id }}").tooltip(); });</script>
            {% endif %}
        {% endfor %}
    </ul>
</div>
