{% extends "base.html" %}

{% block sidebar %}

<table class="table table-bordered">
    <tr>
        <th colspan="2">{% trans "Values represent hours before the beginning" %}</th>
    <tr>
        <td>{% trans "Bookable until" %}</td>
        <td>{{ station.deadline|time:"H" }}</td>
    </tr><tr>
    <td>Ver{% trans "Editable until" %}</td>
        <td>{{ station.rnvp|time:"H" }}</td>
    </tr>
</table>

{% endblock %}

{% block content %}

<div class="well">
    <h1>{{ station.name }}</h1>
    <p>{{ station.shortdescription }}</p>
    <p>{{ station.longdescription }}</p>
</div>

{% endblock %}
