{% extends "base.html" %}
{% load filters %}

{% block content %}

<!-- div class="well"><h2>{{ station.longname }}</h2></div -->

{% for dock in station.dock_set.all %}
    <div class="span3">
        <h3 style="text-align: center;">{{ dock.name }}</h3>
        {% for curr_block in dock.block_set.all %}
            <table class="table table-bordered table-condensed">
                <tbody>
                    {% for start_time in curr_block.start_times %}
                        <tr>
                            <th>{{ start_time|time:"H:i" }}</th>
                            {% for line in curr_block.linecount|get_range %}
                                <td><a href="/timeslots/date/{{ date }}/slot/{{ curr_block.id }}.{{ forloop.parentloop.counter }}.{{ line }}/">Empty Slot</a></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endfor %}

{% endblock %}
