{% extends "base.html" %}
{% load i18n %}

{% block sidebar %}
{% endblock %}

{% block content %}

<div class="page-header">
    <h1>
        {{ user.get_full_name }}
        <small>{{ user.userprofile.company }}</small>
    </h1>
</div>

<table id="profile_details">
    <tr>
        <td><strong>{% trans "Address:" %}</strong></td>
        <td>
            {{ user.userprofile.street }}<br />
            {{ user.userprofile.ZIP }} {{ user.userprofile.town }}<br />
            {{ user.userprofile.country }}
        </td>
    </tr><tr>
        <td><strong>{% trans "Phone:" %}</strong></td>
        <td>{{ user.userprofile.phone }}</td>
    </tr><tr>
        <td><strong>{% trans "Language:" %}</strong></td>
        <td>{{ user.userprofile.get_language_display }}</td>
    </tr>
</table>

<div class="section">
    <p><a class="btn btn-primary" href="{% url timeslots_user_profile %}">
        {% trans "Change your profile" %} &raquo;
    </a></p>
</div>

<div class="section">&nbsp;</div>

{% include "timeslots/station_list.html" %}

{% endblock %}
