{% load i18n timeslots_filters %}
<span class="pull-right">
    <ul class="nav">
        <li class="dropdown" id="profile">
            <a href="#profile" class="dropdown-toggle" data-toggle="dropdown"><b>{% firstof user.get_full_name user.username %}</b> ({% trans user.groups.all.0.name %}) <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{{ user.userprofile.get_absolute_url }}">{% trans "Profile" %}</a></li>
                {% if user.is_staff %}
                <li><a href="/admin/">{% trans "administration" %}</a></li>
                {% endif %}
                {% if user|in_group:"administrator,loadmaster" %}
                <li><a href="{% url timeslots_blocking %}">{% trans "Block slots" %}</a></li>
                {% endif %}
                <li class="divider"></li>
                <li><a href="{% url user_logout %}">{% trans "Logout" %}</a></li>
            </ul>
        </li>
    </ul>
</span>
