{% extends "structure.html" %}
{% load i18n %}

{% block container %} 

<div class="container">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3 sidebar">
                {% block sidebar %} 
                <form id="sidebar" action="." method="post">{% csrf_token %}
                    {% if station.dock_set.count > 1 %}<div class="control-group section"> 
                        <label class="control-label" for="selectedDocks"><strong>{% trans "Choose dock" %}</strong></label> 
                        <div class="controls">
                            {% for dock in station.dock_set.all %}<label class="checkbox">
                                <input type="checkbox" name="selectedDocks" value="{{ dock.id }}" {% for d, b in docks %}{% if d == dock.name %}checked="checked"{% endif %}{% endfor %}>
                                {{ dock.name }}
                            </label>{% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary">{% trans "Apply filter" %}</button>
                    </div>{% endif %}
                    <div id="datepicker"></div>
                </form>
                {% endblock %}

                <div id="kronoslogo">
                    <a href="http://kronostio2.com/"><img src="{{ STATIC_URL }}img/logo.png" alt="KRONOS INTERNATIONAL, Inc."></a>
                </div>
            </div>
            <div class="span9"> 
                {% if messages %}
                {% for message in messages %}
                {% ifequal message.tags 'error' %}<div class="alert alert-error"><strong>{% trans "Error: " %}</strong>{% endifequal %}
                {% ifequal message.tags 'warning' %}<div class="alert alert-warning"><strong>{% trans "Warning: " %}</strong>{% endifequal %}
                {% ifequal message.tags 'info' %}<div class="alert alert-info"><strong>{% trans "Info: " %}</strong>{% endifequal %}
                {% ifequal message.tags 'success' %}<div class="alert alert-success"><strong>{% trans "Success: " %}</strong>{% endifequal %}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <br />{{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% block content %}{% trans "Empty page" %}{% endblock %} 
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="separator">
            <ul id="menu" class="menu">
                <li class="item-115">
                    <a href="https://kronostio2.com/en/important-legal-information">Important Legal Information</a>
                </li>
                <li class="item-669">
                    <a href="https://kronostio2.com/en/terms-and-conditions">Terms and Conditions of Sale</a>
                </li>
                <li class="item-116">
                    <a href="http://kronos-timeslots.com/timeslots/privacy">Privacy Policy</a>
                </li>
            </ul> <br>
            &copy; 2012 - {% now "Y" %} KRONOS Worldwide, Inc. | 5430 LBJ Freeway, Suite 1700 | Dallas, TX, 75240 | United States<br>
            Phone: (972) 233-1700 | Fax: (972) 448-1445 | <a href="mailto:kronos.marketing@kronosww.com">kronos.marketing@kronosww.com</a>
        </div>
    </footer>

</div> <!-- container -->

{% endblock %}
