<!DOCTYPE html>
<html land="de">
<head>
    <meta charset="utf-8">
    <title>KRONOS Titan GmbH - Ladezeitensteuerung</title>
    <meta name="description" content="KRONOS Timeslots">
    <meta name="author" content="Lutz Moppert">
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.20.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.datepicker-de.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script type="text/javascript">
        $(function(){
            // Datepicker
            $('#datepicker').datepicker( $.datepicker.regional['de'] );

            //hover states on the static widgets
            $('#dialog_link, ul#icons li').hover(
                function() { $(this).addClass('ui-state-hover'); },
                function() { $(this).removeClass('ui-state-hover'); }
            );
        });
    </script>
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ STATIC_URL }}/img/favicon.ico">
    <link type="text/css" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.8.20.custom.css" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>

<body> 
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <span class="span3"><a class="brand" href="/timeslots/">Ladezeitensteuerung</a></span>
            <ul class="nav">
                <li class="dropdown" id="profile">
                    <a href="#profile" class="dropdown-toggle" data-toggle="dropdown">{{ request.session.username }} Username<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profil</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <span class="pull-right">
                <form class="navbar-form" action="." method="get">
                    <select id="selectedStation" class="span3">
                        <option value="">== Please choose station ==</option>
                        {% for station in station_list %}
                            <option value="{{ station.id }}" {% ifequal selectedStation station.id %}selected{% endifequal %}>
                            {{ station.name }} &ndash; {{ station.shortdescription }}
                        </option>
                        {% endfor %}
                    </select>
                </form>
            </span>
        </div>
    </div>
</div>

<div class="container">

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
            {% block sidebar %}
                <form action="#" method="get">
                    <div id="datepicker" style="overflow: hidden"></div>
                </form>
            {% endblock %}
                <div id="kronoslogo">
                    <a href="http://kronos.de/">
                        <img src="{{ STATIC_URL }}img/logo.png" alt="KRONOS TITAN GmbH">
                    </a>
                </div>
            </div>
            <div class="span9"> {% block content %}Empty page{% endblock %} </div>
        </div>
    </div>


    <footer class="footer">
        <p>
            <span class="pull-right">
                &copy; <a href="http://kronos.de">KRONOS TITAM GmbH</a> 2012
                |
                powered by <a href="http://www.djangoproject.com/">Django</a>
            </span>
        </p>
    </footer>

</div> <!-- container -->

</body>
</html>
