{% extends "base.html" %}
{% load i18n %}

{% block sidebar %}
{% endblock %}


{% block content %}
<div class="page-header"><h1>KRONOS TITAN GmbH</h1></div>
<div class="section">
    <h3>{% trans "Ladezeitensteuerung" %}</h3>
    <h4>{% trans "Aktuelle Aufträge" %}</h4>
</div>

{% include "timeslots/station_list.html" %}

<div class="section">
    <p><a class="btn btn-primary" href="http://kronos.de/">{% trans "Auf der Webseite finden Sie weitere Informationen über KRONOS" %} &raquo;</a></p>
</div>
{% endblock %}
