{% extends "base.html" %}
{% load i18n %}

{% block javascript %}
<script type="text/javascript">
    $(function(){
        // Datepicker
        $('#datepicker').datepicker({ 
            onSelect: function(dateText, inst) { 
                window.location = "/app/logging/" + dateText + "/" 
            },
            dateFormat: 'yy-mm-dd'
        });
        $('#datepicker').datepicker('setDate', '{{ day|date:"Y-m-d" }}');
    });
</script>
{% endblock %}

{% block content %}
<h1>{% trans "Logfiles for" %} {{ day }}</h1>
<a href="../export/{{ day|date:'Y-m' }}"><i class="icon icon-download-alt"></i> Logfile-{{ day|date:'Y-m' }}.csv</a>
<div class="section">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{% trans "User" %}</th>
                <th>{% trans "Time" %}</th>
                <th>{% trans "Host" %}</th>
                <th>{% trans "Task" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logging_list %}<tr class="logentry">
                <td>{{ log.user }}</td>
                <td>{{ log.time }}</td>
                <td>{{ log.host }}</td>
                <td>{{ log.task }}</td>
            </tr>{% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
