{% load i18n %}
<!doctype html>
<head><title>KRONOS Titan GmbH</title></head>
<body>
    <h1>{% trans "Logfiles for" %} {{ day }}</h1>
    <div class="section">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>{% trans "User" %}</th>
                    <th>{% trans "Time" %}</th>
                    <th>{% trans "Host" %}</th>
                    <th>{% trans "Task" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logging_list %}<tr class="logentry">
                    <td>{{ log.user }}</td>
                    <td>{{ log.time }}</td>
                    <td>{{ log.host }}</td>
                    <td>{{ log.task }}</td>
                </tr>{% endfor %}
            </tbody>
        </table>
    </div>
</body>
