{% extends "base.html" %}
{% load timeslots_filters timeslots_tags i18n %}

{% block content %}

<div class="page-header">
    <h1>{{ date|make_date }}<br /><small>{{ station.longname }}</small></h1>
</div>

{% include "timeslots/details_subnav.html" with active=1 %}

<div class="section clearfix">
    {% for dock, blocks in docks %} 
    <div class="{{ span }}">
        {% if station.has_product %}
            <h3 style="text-align: center">
                {{ dock.0 }} <small>{{ dock.1 }}</small>
                {% if user.userprofile.is_master %}
                    <a href="/app/dock/{{ dock.2 }}/date/{{ date }}/products" class="btn btn-small"><i class="icon-edit"></i></a>
                {% endif %}
            </h3>
        {% else %}
            <h3 style="text-align: center">{{ dock }}</h3>
        {% endif %}
        {% for blockid, timeslots in blocks %}
        <table class="table table-bordered table-condesed blocktable">
            <tbody>
                {% for start, timeslot in timeslots %}
                <tr>
                    <th style="width: 3em">{{ start }}</th>
                    {% for company, slot in timeslot %}
                    <td class="{% if company == "free" %}slot-free{% elif company == "blocked" %}slot-blocked{% elif company == "reserved" %}slot-reserved{% else %}slot-owned{% endif %}">
                        {% if station.has_status and company != "free" and company != "blocked" %}{% show_progress slot user %}{% endif %}
                        {% if company in hidden or request.user.userprofile.is_readonly %}
                            {% trans company %}
                        {% else %}
                            <a href="/app/date/{{ date }}/slot/{{ blockid }}.{{ forloop.parentloop.counter }}.{{ forloop.counter }}/">{% trans company %}</a>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
